@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --indicator-width: 100px;
  --questionHeight: 1px;
  scroll-padding-top: 70px;
}

.hide{
  @apply hidden
}
.hide_identity{
  background: linear-gradient(180deg, #ECECEC 17.71%, #C9C9C9 90.44%);
  /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35); */
}
.user-table tbody tr { @apply border-t border-[gainsboro] py-2}
.user-table.admin-table tbody tr { @apply !py-5 !border-t-0 }
.user-table tbody tr td { @apply py-2}
.user-table thead tr th { @apply py-2}
.user-table table thead  tr th { @apply text-left  }
.user-table:not(.admin-table) table tbody tr td:nth-child(1) { @apply w-[400px] }
.user-table th:not(th:first-child), .user-table td:not(td:first-child){ @apply px-5}
/* .user-table table tbody tr td:nth-child(2) { @apply w-max-[100px] } */
.question-body{ 
  transition: all .5s ease-in-out;
  height: 0;
  overflow: hidden;
  margin-top: -10px !important;
 }
 .question-body.open{
   margin-top: 0 !important;
 }
 .animateFromLeft{
   @apply left-0
 }
 
.circle{ @apply flex relative h-8 lg:h-12 w-8 lg:w-12 rounded-full border border-[gainsboro] justify-center items-center  }
.indicator{ 
  width: 128px;
  height: 1px;
  background-color: gainsboro;
}
.scale{
  transform: scaleY(1) !important ;
}
.activeTab{
  @apply bg-[#f4f4f4] p-2 !font-semibold
}
.group.active > .circle { @apply border-primaryRed !text-primaryRed }
nav ul li{
    position: relative;
}
nav ul li a,
footer a{
    @apply  transition-all duration-700 ease-in-out no-underline
}

li.active a{
    text-decoration: underline;
    text-underline-offset: 5px;
    @apply text-primaryRed
}
li:hover a, footer a:hover{
    @apply text-primaryRed
}
section{
    max-width: 1200px;
    @apply mx-auto
}
section textarea{ height: 200px;}

.service-card{
    box-shadow: 0 0 7px 5px gray;
    @apply max-w-[370px] md:max-w-[unset]
}
footer .socials img{
    @apply w-5 cursor-pointer
}
.linear{
    background: linear-gradient(132.59deg, rgba(129, 251, 184, 0.25) 0%, rgba(191, 116, 215, 0.25) 96.14%);
}
@media screen and ( max-width:976px ) {
    nav li.active::before{
        @apply hidden
    }
    nav{ @apply hidden }
    nav.open{
        @apply flex fixed z-20 left-0 top-0 h-screen w-screen bg-[rgba(0,0,0,.5)]
    }
    nav.open ul{
        @apply  w-5/6 h-full bg-white flex-col items-start space-x-0 space-y-6 pl-14 pt-16 overflow-auto pb-5 relative;
    }
    nav.open ul li a,
    nav.open ul li button{
        @apply text-black font-bold
    }
}
@media screen and ( max-width:768px ) {
   .openOverlay{ @apply fixed top-0 left-0 bottom-0 right-0 bg-[rgba(0,0,0,.5)] z-[1] }
    h2{ @apply text-center text-xl  }
    p, label, .faq h3{ @apply text-sm }
    button{ @apply mx-auto }
    footer p{@apply text-[13px]}
    .indicator{ width: 85px; }
}

.swiper {
    margin-inline:auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* .swiper::-webkit-scrollbar, .cont::-webkit-scrollbar { display: none !important ; }
.swiper-card::-webkit-scrollbar { display: none !important ; } */
.secondContainer::-webkit-scrollbar{ display: none; }
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    font-size: 14px;
    padding: 40px 20px 30px;
    color: #fff;
    overflow: unset !important;
  }

  .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }

  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }

  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }

  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }

  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }

  .swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }

  .swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }

  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }

  .swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }